extends ../layout

block content
    .reg-box
        .front
            .sign
                img(src='/img/ufashion.jpeg', alt='UFashion Logo')
                p UFashion is a one stop destination for all your fashion needs.